---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="w-full h-full flex items-center justify-center bg-black">
    <video
      autoplay
      playsinline
      controls
      src="/videos/video-fondo-presentacion.mp4"
      class="w-full h-full object-cover"></video>
  </section>
</Layout>
