<section
  class="relative h-screen bg-cover bg-center flex items-end"
  style="background-image: url(/imagenes/fondo-hero.jpg); color: rgb(252, 252, 253);"
>
  <!-- Capa oscura para mejorar la legibilidad del texto -->
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <!-- Contenido del Hero -->
  <div class="relative z-10 text-left p-8 md:p-12 lg:p-16">
    <h1 class="text-5xl tracking-tight">
      El futuro es electrico, <br />el futuro es suaquita
    </h1>
  </div>
</section>
